<!DOCTYPE html>
<html>
  <body>
    <h2>Welcome to Swarajya</h2>
    <p>Hello {{name}},</p>
    <p>Your account has been created.</p>

    <p><b>Email:</b> {{email}}</p>
    <p><b>Password:</b> {{password}}</p>

    <p>Please login and change your password.</p>
  </body>
</html>
