<!DOCTYPE html>
<html>
  <body>
    <h2>Password Reset Request</h2>
    <p>You requested to reset your password.</p>
    <p>
      <a href="{{resetLink}}">Click here to reset password</a>
    </p>
    <p>This link is valid for 15 minutes.</p>
  </body>
</html>
